body {
  font-family: 'Quicksand', sans-serif !important;
  font-size: 18px !important;
}

h2, h4, h5 {
  font-family: "AmaticSCBold";
}

footer {
  background-image: linear-gradient(rgb(249, 207, 214), white);
  padding: 20px 0;
  margin-top: 2rem;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border-radius: 30px;
  background-color: rgba(163, 228, 232, 0.506);
  cursor: pointer;
  border: none;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

#myBtn::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  left: 10px;
  top: 9px;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

#myBtn:hover {
  background-color: rgb(63,179,211);
}

.navbar-light {
  background: linear-gradient(white, rgb(249, 207, 214));
  margin-bottom: 1rem;
  min-height: 7rem;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
  margin-right: 2rem;
  max-width: 9rem;
}
.dropdown-menu a:hover {
  background-color: rgba(124, 246, 246, 0.487);
}

.row-content {
  padding: 50px 50px;
  min-height: 150px;
}

.card-title {
  font-weight: 570;
  font-size: 1.5rem;
}

.card-img-overlay .card-title {
  color: rgb(63, 68, 68);
  background-color: rgba(255, 255, 255, 0.734);
}

.breadcrumb {
  background: white;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.45);
}





