body {
  font-family: 'Quicksand', sans-serif !important;
  font-size: 18px !important;
}

h2, h4, h5 {
  font-family: "AmaticSCBold";
}

.navbar-light {
  background: linear-gradient(white, rgb(249, 207, 214));
  margin-bottom: 1rem;
  min-height: 7rem;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
  margin-right: 2rem;
  max-width: 9rem;
}
.dropdown-menu a:hover {
  background-color: rgba(124, 246, 246, 0.487);
}

.row-content {
  padding: 50px 50px;
  min-height: 150px;
}

.card-title {
  font-weight: 570;
  font-size: 1.5rem;
}

.card-img-overlay .card-title {
  color: rgb(63, 68, 68);
  background-color: rgba(255, 255, 255, 0.734);
}

.breadcrumb {
  background: white;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.45);
}

/* .text-info {
  color: #17a2b8 !important;
} */

footer {
  background-image: linear-gradient(rgb(249, 207, 214), white);
  padding: 20px 0;
  margin-top: 2rem;
}

